@import url('./FontFaces.css');

* {
    box-sizing: border-box;
}

:root {
    --color: #111827;
    --color-link: rgb(75, 85, 99);
    --color-background: #FCFCFC;
}

body {
    background-color: var(--color-background);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 100vh;
    margin: 0 auto;
}

.users {
    display: flex;
    list-style: none;
    gap: 20px;
}

.users__link {
    font-size: 24px;
    font-family: 'Inter';
    font-weight: 500;
    color: var(--color-link);
    text-decoration: underline var(--color-link) 1px;
    text-underline-position: under;
    transition: opacity .2s ease-out;
}

.users__link:hover {
    opacity: .7;
}